<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout (title, content)">
<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Icones google -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Google font -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet"> -->
		<!-- Custom stlylesheet -->
		<!-- <link type="text/css" rel="stylesheet" href="/css/error.css" /> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title th:replace="${title}">Hello, world!</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Handfull</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/login' ? 'active':''}"class="nav-item"><a class="nav-link" href="#" th:href="@{/user/login}">Connexion</a>
				</li>
				<li th:classappend="${#httpServletRequest.getRequestURI() == '/user/registration' ? 'active':''}"class="nav-item"><a class="nav-link" href="#" th:href="@{/user/register}">Inscription</a></li>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="jumbotron" th:replace="${content}">
			<p>Layout page, content gets here !</p>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>